[submodule "x264"]
	path = x264
	url = https://github.com/shihuade/x264.git
[submodule "openh264"]
	path = openh264
	url = https://github.com/cisco/openh264.git
[submodule "JM"]
	path = JM
	url = https://github.com/shihuade/JM.git
